<!DOCTYPE html>
<html lang="id">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Idul Fitri 💖</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>✨ Selamat Hari Raya Idul Fitri ✨</h1>
    <p>💖Hi guys Minal Aidzin Wal Faidzin yaw💖<br>
        Mohon maaf lahir dan batin atas segala kata dan perbuatan yang mungkin pernah melukai kalian.✨<br> 
        (kayanya ga ada salah deh aku haha, aku kan anak baik dan menggemaskan wkwk)😭<br> 
        Semoga kita diberi kemudahan kuliahnya semester ini💪<br> 
        Ditunggu kemurahan hati THR nya. <br> 
        Btw lucu kan web nya, ada pacarku mingyu😆<br> 
        사랑해요, 내 친구가 되어줘서 고마워.💖✨<br>
    </p>

    <p class="from">from = Neyla Amanda imut kiyut kaya IDOL 💕</p>

    <img src="/static/mingyu.jpg" class="mingyu">

    <form action="/kirim" method="POST">
        <textarea name="pesan" placeholder="Kirim pesan anonim 💌"></textarea>
        <button type="submit">Kirim 💖</button>
    </form>

    <audio autoplay loop>
        <source src="/static/lagu.mp3" type="audio/mpeg">
    </audio>

</div>

<script src="/static/script.js"></script>
</body>
</html>
